body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
  
  background-color: #FFF;
  color: #fff;
  font-family: "Lato";
}

section{
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	overflow: hidden;
	
	transition: all 1s ease-in-out;
}


/* Navigation */

.navCheckbox{
	display: none;
}

.arrow{
	height: 20px;
	width: 20px;
	position: absolute;
	right: 6%;
	bottom: 7%;
	z-index: 11;
	
	background-color: #fff;
	border-top: 3px solid black;
	border-right: 3px solid black;
	transform: rotate(45deg);
}
.arrow:hover{
	border-color: #588ccb;
}

#nav1:checked + label .arrow{
	transform: rotate(225deg);
	right: 10%;
}
#nav1:checked ~ #page1{
	transform: translateX(-100%);
	transition: all 1s ease-in-out;
}

#nav2:checked + label .arrow{
	transform: rotate(225deg);
	right: 10%;
	z-index: 12;
}
#nav2:checked ~ #page2{
	transform: translateX(-100%);
	transition: all 1s ease-in-out;
}


/* Page 1 */

#page1{
	z-index: 5;
	background-color: #06060D;
}

#intro{
	height: 50%;
	margin: 25% 0 0 0;
	transform: translateY(-10%);
	
	text-align: center;
}
#name{
	font-size: 300%;
	font-weight: bold;
	color: #dde3e3;
}
#sub{
	color: #588ccb;
	font-size: 125%;
}

#logo{
	height: 30%;
	transition: transform 0.8s ease-in-out;
}
#logo:hover{
	transform: rotate(360deg);
}
#logo:active{
	transform: rotate(360deg);
}

#white-box{
	height: 100%;
	width: 200%;
	transform: rotate(-45deg);
	
	background-color: #fff;
	border-top: 5px solid #dde3e3;
}


/* Page 2 */

#page2{
	z-index: 1;
}

#projects{
	height: 100%;
	margin-top: 15%;
	margin-left: 6%;
}
.project{
	height: 25%;
	width: 25%;
	margin: 2% 2% 2% 2%;
	position: relative;
	display: inline-block;
	overflow: hidden;
	
	background-color: #eee;
	border-right: 5px solid #dde3e3;
	border-bottom: 5px solid #dde3e3;
}
.project:hover .projImg{
	transform: translate(0,-250px);
}
.projImg{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	z-index: 2;
	
	transition: all 0.2s ease-in-out;
}

.projDescr{
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	
	background-color: #06060D;
	background-size: cover;
	text-align: center;
}

.projTitle{
	display: block;
	width: 100%;
	position: absolute;
	bottom: 15%;
	padding: 5px 0 5px 0;
	
	font-size: 150%;
	font-weight: bold;
	background-color: #666c76;
	border-top: 2px solid #909499;
	border-bottom: 2px solid #3C4554;
}

.projText{
	margin: 15% 10% 0 10%;
	color: #dde3e3;
	font-weight: light;
}

#projMore{
	display: block;
	margin-top: 30%;
	
	font-size: 125%;
	color: #FFF;
	text-decoration: none;
}